<div class="row">
  <div class="col-xs-4 col-xs-offset-1">

    <h1>Sign up!</h1>

    <ul>
      <% @user.errors.full_messages.each do |err_msg| %>
        <li><%= err_msg %></li>
      <% end %>
    </ul>

    <form action="/user" method="POST">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <div class="form-group">
        <label for="user_username">Username</label>
        <input
          type="text"
          name="user[username]"
          id="user_username"
          value="<%= @user.username %>"
          class="form-control">
        <br>
      </div>
      <div class="form-group">
        <label for="user_password">Password</label>
        <input type="password"
               name="user[password]"
               id="user_password"
               class="form-control">
        <br>
      </div>

      <input type="submit" value="Create User!" class="btn btn-success">
    </form>
  </div>
</div>
